In [ ]:
import pandas as pd

In [33]:
fpl_levels = pd.read_csv('../data/administrative_info/original/fpl.csv')
fpl_levels

,Year,First\nPerson,Each\nAdditional\nPerson,(Four-Person\nFamily),Page with\nComplete Details
0,2024,"$15,060","$5,380","-$31,200",Federal Register 2024
1,2023,"$14,580","$5,140","-$30,000",Federal Register 2023
2,2022,"$13,590","$4,720","-$27,750",Federal Register 2022
3,2021,"$12,880","$4,540","-$26,500",Federal Register 2021
4,2020,"$12,760","$4,480","-$26,200",Federal Register 2020
5,2019,"$12,490","$4,420","-$25,750",Federal Register 2019
6,2018,"$12,140","$4,320","-$25,100",Federal Register 2018
7,2017,"$12,060","$4,180","-$24,600",Federal Register 2017
8,2016,"$11,880",Varies,"-$24,300",Federal Register 2016
9,2015,"$11,770","$4,160","-$24,250",Federal Register 2015
10,2014,"$11,670","$4,060","-$23,850",Federal Register 2014
11,2013,"$11,490","$4,020","-$23,550",Federal Register 2013
12,2012,"$11,170","$3,960","-$23,050",Federal Register 2012
13,2011,"10,890","3,820","-22,350",Federal Register 2011
14,2010,"10,830","3,740","-22,050",Federal Register 2010 (Jan)\nFederal Register ...
15,2009,"10,830","3,740","-22,050",Federal Register 2009
16,2008,"10,400","3,600","-21,200",Federal Register 2008
17,2007,"10,210","3,480","-20,650",Federal Register 2007
18,2006,"9,800","3,400","-20,000",Federal Register 2006
19,2005,"9,570","3,260","-19,350",Federal Register 2005
20,2004,"9,310","3,180","-18,850",Federal Register 2004
21,2003,"8,980","3,140","-18,400",Federal Register 2003
22,2002,"8,860","3,080","-18,100",Federal Register 2002
23,2001,"8,590","3,020","-17,650",Federal Register 2001
24,2000,"8,350","2,900","-17,050",Federal Register 2000

In [34]:
fpl_levels.columns = [col.replace('\n', ' ') for col in fpl_levels.columns]
fpl_levels = fpl_levels[['Year', "First Person", "Each Additional Person"]]
fpl_levels.head()

   Year First Person Each Additional Person
0  2024      $15,060                 $5,380
1  2023      $14,580                 $5,140
2  2022      $13,590                 $4,720
3  2021      $12,880                 $4,540
4  2020      $12,760                 $4,480

In [35]:
fpl_levels.loc[8, 'Each Additional Person'] = '$4,170'

In [36]:
fpl_levels.loc[:, 'Each Additional Person'] = fpl_levels['Each Additional Person'].str.replace(r'\D+', '', regex=True).astype(int)
fpl_levels.loc[:, 'First Person'] = fpl_levels['First Person'].str.replace(r'\D+', '', regex=True).astype(int)
fpl_levels

    Year First Person Each Additional Person
0   2024        15060                   5380
1   2023        14580                   5140
2   2022        13590                   4720
3   2021        12880                   4540
4   2020        12760                   4480
5   2019        12490                   4420
6   2018        12140                   4320
7   2017        12060                   4180
8   2016        11880                   4170
9   2015        11770                   4160
10  2014        11670                   4060
11  2013        11490                   4020
12  2012        11170                   3960
13  2011        10890                   3820
14  2010        10830                   3740
15  2009        10830                   3740
16  2008        10400                   3600
17  2007        10210                   3480
18  2006         9800                   3400
19  2005         9570                   3260
20  2004         9310                   3180
21  2003         8980                   3140
22  2002         8860                   3080
23  2001         8590                   3020
24  2000         8350                   2900

In [37]:
fpl_levels.to_csv("../data/administrative_info/cleaned/fpl.csv")